/* === JOBBOARD === */
/* line 417, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/module.scss */
.wpjb-element-input-select .wpjb-field {
    height: 45px;
}
/* line 421, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/module.scss */
span.customSelect {
    font-size: 1em;
    line-height: 2em;
    background-color: #fff;
    color: #686868;
    height: 45px;
    padding: 0 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #eaebeb;
    width: 70%;
    position: relative;
}
@media screen and (max-width: 750px) {
    /* line 421, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/module.scss */
    span.customSelect {
        width: 100%;
    }
}
/* line 436, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/module.scss */
span.customSelect.changed {
    background-color: #f0dea4;
}
/* line 439, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/module.scss */
span.customSelectFocus {
    border-color: orange;
}
/* line 442, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/module.scss */
select {
    z-index: 100;
}
/* line 445, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/module.scss */
.customSelectInner {
    /*background: url("../stylesheets/img/select-arrow-green.png") no-repeat center right;*/
    line-height: 33px;
    padding: 5px;
    height: 45px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* line 452, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/module.scss */
.customSelectInner:after {
    content: '';
    color: #fff;
    width: 35px;
    height: 33px;
    background: url("../stylesheets/img/down-arrow-button.png") no-repeat center center #C40001;
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
    line-height: 0.45em;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
/* line 1, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/module.scss */
.btn {
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    padding: 8px;
    border: none;
    font-size: 13px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
/* line 36, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/vars.scss */
.btn:hover {
   
}
/* line 6, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/module.scss */
.btn-full {
    width: 100%;
}
/* line 11, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/module.scss */
.button-group .btn {
    width: 40%;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    margin: 0;
    padding: 0;
    border-left: 1px solid rgba(0, 0, 0, 0.15);
}
/* line 144, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/module.scss */
.widget .wpjb-label {
    position: absolute;
    left: -1000em;
}
/* line 150, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/module.scss */
.widget_wpjb-recent-jobs li {
    margin-bottom: 5px;
}
/* line 152, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/module.scss */
.widget_wpjb-recent-jobs li a {
    padding-top: 11px;
    padding-bottom: 11px;
}
/* line 157, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/module.scss */
.widget_wpjb-recent-jobs .job-title {
    margin: 0;
    padding: 0;
    font-size: 1.077em;
}
/* line 162, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/module.scss */
.widget_wpjb-recent-jobs span {
    display: block;
    margin-top: 5px;
    font-weight: 500;
}
/* line 167, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/module.scss */
.widget_wpjb-recent-jobs li a:hover span {
    color: #4e4e4e;
}
/* line 170, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/module.scss */
.widget_wpjb-recent-jobs .view-all {
    display: block;
    text-align: right;
    margin-top: 1em;
}
/* line 150, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/module.scss */
.widget_wpjb-featured-jobs li {
    margin-bottom: 5px;
}
/* line 152, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/module.scss */
.widget_wpjb-featured-jobs li a {
    padding-top: 11px;
    padding-bottom: 11px;
}
/* line 157, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/module.scss */
.widget_wpjb-featured-jobs .job-title {
    margin: 0;
    padding: 0;
    font-size: 1.077em;
}
/* line 162, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/module.scss */
.widget_wpjb-featured-jobs span {
    display: block;
    margin-top: 5px;
    font-weight: 500;
}
/* line 167, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/module.scss */
.widget_wpjb-featured-jobs li a:hover span {
    color: #4e4e4e;
}
/* line 170, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/module.scss */
.widget_wpjb-featured-jobs .view-all {
    display: block;
    text-align: right;
    margin-top: 1em;
}
/* line 177, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/module.scss */
.where-am-i {
    min-height: none;
    display: block;
    color: #b6b6b6;
}
/* line 182, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/module.scss */
.where-am-i h1, .where-am-i h2 {
margin: 0;
padding: 0 0 0 0;
font-size: 2em;
color: #C40001;
}
/* line 189, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/module.scss */
.more-link {
    float: right;
    margin-top: 1em;
    font-weight: 600;
}
/* line 1, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-clear {
    clear: both;
}
/* line 5, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-none {
    display: none;
}
/* line 8, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-form div {
    overflow: hidden;
}
/* line 12, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-button {
    background: #C40001;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    padding: 11px;
    border: none;
    font-size: 13px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
/* line 36, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/vars.scss */
.wpjb-button:hover, a.wpjb-button.wpjb-form-toggle.wpjb-form-job-apply.btn:hover {
    background: #F2F2F2;
    color: #fff;
}
/* line 16, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-required {
    color: #cd3131;
}
/* line 20, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-new-btn:hover {
    background: #F2F2F2;
}
/* on wpjb we set up different content style because of 'where-am-i' box */
/* line 25, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb #content {
    background: #eff0f2;
    width: 100%;
    padding: 0;
}
/* line 29, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb #content .hentry {
    margin: 0;
    padding: 0;
}
/* line 34, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb #wpjb-main {
    background: #f8f9f9;
    padding: 1em 3%;
    width: 91%;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
@media screen and (max-width: 600px) {
    /* line 34, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
    .wpjb #wpjb-main {
        width: auto;
    }
}
/* = ADD NEW JOB */
/* line 46, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-step {
    overflow: hidden;
    list-style-type: none;
    height: 75px;
    position: relative;
    color: #b6b6b6;
    padding-bottom: 20px;
    padding-left: 0 !important;
}
/* line 55, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-step:before, #wpjb-step:after {
    content: '';
    display: block;
    height: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    position: relative;
}
/* line 62, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-step:before {
    width: 100%;
    background: #e5e6ea;
    top: 21px;
}
/* line 67, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-step li {
    display: block;
    float: left;
    position: relative;
    width: 33%;
    height: 75px;
    text-align: center;
    text-transform: uppercase;
}
/* line 75, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-step li:before {
    display: block;
    width: 35px;
    line-height: 25px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    border-radius: 35px;
    border: 5px solid #e5e6ea;
    margin: 0 auto 1em auto;
    background: #f8f9f9;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    z-index: 10;
    text-align: center;
}
/* line 90, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-step .wpjb-current-step,
#wpjb-step .wpjb-begone-step {
    color: #4e4e4e;
}
/* line 92, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-step .wpjb-current-step:before,
#wpjb-step .wpjb-begone-step:before {
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    border-radius: 35px;
    line-height: 35px;
    background: #C40001;
    color: #fff;
    border: none;
}
/* line 100, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-step li:nth-child(1):before {
    content: '1';
}
/* line 103, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-step li:nth-child(2):before {
    content: '2';
}
/* line 106, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-step li:nth-child(3):before {
    content: '3';
}
/* line 110, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-step:after {
    background: #C40001;
}
/* line 116, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-step.wpjb-step-1:after,
#wpjb-step.wpjb-step-2:after,
#wpjb-step.wpjb-step-3:after {
    top: 15px;
    width: 16%;
    z-index: 1;
}
/* line 123, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-step.wpjb-step-2:after {
    width: 50%;
}
/* line 128, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-step.wpjb-step-3:after {
    width: 100%;
}
/* line 132, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-step-container {
    margin-bottom: 30px;
}
/* line 134, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-step-container:after {
    content: '';
    height: 1px;
    position: absolute;
    display: block;
    background: #eff0f2;
    left: 0;
    right: 0;
}
/* line 145, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-main fieldset {
    color: #686868;
    padding: 10px 0;
    margin: 10px 0;
}
/* line 149, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
/*#wpjb-main fieldset:after {
    content: '';
    height: 1px;
    position: absolute;
    display: block;
    background: #eff0f2;
    left: 0;
    right: 0;
}
*/
/* line 152, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-main fieldset legend {
    font-size: 1.14286em;
    line-height: 1.5em;
    font-weight: 600;
    padding: 3px 0 3px 4%;
}
/* line 158, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-main fieldset:last-of-type:after {
    display: none;
}
/* line 162, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-element-input-textarea {
    width: 100%;
    padding: 11px 5px;
    margin: 10px 0;
}
/* line 172, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-element-input-text,
.wpjb-element-input-select,
.wpjb-element-input-file,
.wpjb-element-input-radio,
.wpjb-element-input-password,
.wpjb-element-input-checkbox {
    width: 100%;
    padding: 6px 5px;
    margin: 5px 0;
}
/* line 177, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-element-input-text .wpjb-label,
.wpjb-element-input-text .wpjb-field,
.wpjb-element-input-select .wpjb-label,
.wpjb-element-input-select .wpjb-field,
.wpjb-element-input-file .wpjb-label,
.wpjb-element-input-file .wpjb-field,
.wpjb-element-input-radio .wpjb-label,
.wpjb-element-input-radio .wpjb-field,
.wpjb-element-input-password .wpjb-label,
.wpjb-element-input-password .wpjb-field,
.wpjb-element-input-checkbox .wpjb-label,
.wpjb-element-input-checkbox .wpjb-field {
    display: block;
    float: left;
}
/* line 181, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-element-input-text .wpjb-label,
.wpjb-element-input-select .wpjb-label,
.wpjb-element-input-file .wpjb-label,
.wpjb-element-input-radio .wpjb-label,
.wpjb-element-input-password .wpjb-label,
.wpjb-element-input-checkbox .wpjb-label {
    color: #686868;
    width: 30%;
    font-size: 0.92857em;
    line-height: 1.84615em;
    line-height: 40px;
}
/* line 187, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-element-input-text .wpjb-field,
.wpjb-element-input-select .wpjb-field,
.wpjb-element-input-file .wpjb-field,
.wpjb-element-input-radio .wpjb-field,
.wpjb-element-input-password .wpjb-field,
.wpjb-element-input-checkbox .wpjb-field {
    width: 70%;
    font-size: 0.92857em;
    line-height: 1.84615em;
}
/* line 191, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-element-input-text .wpjb-field input,
.wpjb-element-input-text .wpjb-field select,
.wpjb-element-input-select .wpjb-field input,
.wpjb-element-input-select .wpjb-field select,
.wpjb-element-input-file .wpjb-field input,
.wpjb-element-input-file .wpjb-field select,
.wpjb-element-input-radio .wpjb-field input,
.wpjb-element-input-radio .wpjb-field select,
.wpjb-element-input-password .wpjb-field input,
.wpjb-element-input-password .wpjb-field select,
.wpjb-element-input-checkbox .wpjb-field input,
.wpjb-element-input-checkbox .wpjb-field select {
    width: 70%;
}
/* line 195, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-element-input-text:after,
.wpjb-element-input-select:after,
.wpjb-element-input-file:after,
.wpjb-element-input-radio:after,
.wpjb-element-input-password:after,
.wpjb-element-input-checkbox:after {
    content: '';
    display: table;
    clear: both;
}
@media screen and (max-width: 750px) {
    /* line 202, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
    .wpjb-element-input-text .wpjb-field,
    .wpjb-element-input-text .wpjb-label,
    .wpjb-element-input-select .wpjb-field,
    .wpjb-element-input-select .wpjb-label,
    .wpjb-element-input-file .wpjb-field,
    .wpjb-element-input-file .wpjb-label,
    .wpjb-element-input-radio .wpjb-field,
    .wpjb-element-input-radio .wpjb-label,
    .wpjb-element-input-password .wpjb-field,
    .wpjb-element-input-password .wpjb-label,
    .wpjb-element-input-checkbox .wpjb-field,
    .wpjb-element-input-checkbox .wpjb-label {
        float: none;
        width: 100%;
    }
    /* line 205, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
    .wpjb-element-input-text .wpjb-field input, .wpjb-element-input-text .wpjb-field select,
    .wpjb-element-input-text .wpjb-label input,
    .wpjb-element-input-text .wpjb-label select,
    .wpjb-element-input-select .wpjb-field input,
    .wpjb-element-input-select .wpjb-field select,
    .wpjb-element-input-select .wpjb-label input,
    .wpjb-element-input-select .wpjb-label select,
    .wpjb-element-input-file .wpjb-field input,
    .wpjb-element-input-file .wpjb-field select,
    .wpjb-element-input-file .wpjb-label input,
    .wpjb-element-input-file .wpjb-label select,
    .wpjb-element-input-radio .wpjb-field input,
    .wpjb-element-input-radio .wpjb-field select,
    .wpjb-element-input-radio .wpjb-label input,
    .wpjb-element-input-radio .wpjb-label select,
    .wpjb-element-input-password .wpjb-field input,
    .wpjb-element-input-password .wpjb-field select,
    .wpjb-element-input-password .wpjb-label input,
    .wpjb-element-input-password .wpjb-label select,
    .wpjb-element-input-checkbox .wpjb-field input,
    .wpjb-element-input-checkbox .wpjb-field select,
    .wpjb-element-input-checkbox .wpjb-label input,
    .wpjb-element-input-checkbox .wpjb-label select {
        width: 100%;
    }
}
/* line 213, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-element-input-radio .wpjb-field,
.wpjb-element-input-checkbox .wpjb-field {
    margin-top: 0.5em;
}
/* line 215, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-element-input-radio .wpjb-field input,
.wpjb-element-input-checkbox .wpjb-field input {
    background: none;
    width: auto;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
}
/* line 224, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-element-input-radio .wpjb-field input[type=checkbox],
.wpjb-element-input-radio .wpjb-field input[type=radio],
.wpjb-element-input-checkbox .wpjb-field input[type=checkbox],
.wpjb-element-input-checkbox .wpjb-field input[type=radio] {
    border: 1px solid gray;
}
/* line 227, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-element-input-radio .wpjb-field input:checked,
.wpjb-element-input-checkbox .wpjb-field input:checked {
    border-color: #C40001;
}
/* line 230, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-element-input-radio .wpjb-field .wpjb-listing-type-item,
.wpjb-element-input-checkbox .wpjb-field .wpjb-listing-type-item {
    display: block;
    margin-bottom: .5em;
}
/* line 236, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-hint {
    display: block;
    font-style: italic;
    color: #686868;
    font-size: 0.92857em;
    line-height: 1.84615em;
}
/* line 242, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-main .wpjb-upload-actions a {
    background: #C40001;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    padding: 11px;
    border: none;
    font-size: 13px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    width: 33%;
    background: #ffba00;
}
/* line 243, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-main .wpjb-upload-actions a img {
    display: none;
}
/* line 36, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/vars.scss */
#wpjb-main .wpjb-upload-actions a:hover {
    background: #35312E;
    color: #fff;
}
/* line 251, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-main .wpjb-upload-actions a:hover {
    background: #67625F;
}
@media screen and (max-width: 940px) {
    /* line 242, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
    #wpjb-main .wpjb-upload-actions a {
        width: auto;
    }
}
/* line 259, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-flash-error,
.wpjb-flash-info {
    text-align: center;
    width: 100%;
    background: #fede88;
    color: #8c7b4e;
    padding: 30px 0;
    margin: 1em 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
/* line 268, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-flash-info {
    background-color: #d6e8f4;
    color: #637785;
}
/* line 272, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-error {
    background: #f6ecc0;
    padding: 10px 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
/* line 278, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-error input,
.wpjb-error select,
.wpjb-error textarea {
    border-color: #ff230c;
}
/* line 281, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-error .wpjb-errors {
    list-style-type: none;
    color: #ff230c;
    padding-left: 0 !important;
    font-size: 0.92857em;
    line-height: 1.84615em;
}
/* line 288, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb_pricing {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 2em;
    font-size: 0.92857em;
    line-height: 1.84615em;
}
/* line 293, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb_pricing:after {
    content: '';
    height: 1px;
    position: absolute;
    display: block;
    background: #eff0f2;
    left: 0;
    right: 0;
}
/* line 296, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb_pricing tr {
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #eff0f2;
}
/* line 301, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb_pricing td {
    padding: 8px;
}
/* line 303, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb_pricing td:first-child {
    width: 50%;
}
/* line 308, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-submit {
    /*width: 150px;*/
    min-width: 150px;
}
/* line 311, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-submit-info {
    color: #686868;
    font-size: 0.92857em;
    line-height: 1.84615em;
    margin-left: 2em;
}
/* map tooltip */
/* line 317, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-tooltip:hover {
    z-index: 48;
}
/* line 321, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-tooltip:hover span,
.wpjb-tooltip:hover span img {
    z-index: 2000;
}
/* line 324, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-tooltip:hover span img {
    position: relative;
}
/* line 327, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-tooltip span {
    z-index: 1111;
    display: block;
    width: 500px;
    left: -200px;
    position: absolute;
    top: 40px;
    visibility: hidden;
    padding: 5px;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
/* line 338, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-tooltip span img {
    vertical-align: bottom;
}
/* line 342, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-tooltip:hover {
    border: 0;
    /* IE6 fix */
}
/* line 345, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-tooltip:hover span {
    visibility: visible;
}
/* job preview */
/* line 349, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-job-title {
    padding-bottom: 0;
    margin-bottom: 30px;
    font-size: 2.4em;
}
/* line 353, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-company-name {
    color: darkgrey;
    font-size: 0.92857em;
    line-height: 1.84615em;
    padding-top: 0 !important;
    padding-bottom: 2em !important;
}
/* line 359, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-go-back {
    font-weight: 600;
    margin-right: 2em;
}
/* line 363, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-go-publish {
    background: #C40001;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    padding: 11px;
    border: none;
    font-size: 13px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
}
/* line 36, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/vars.scss */
.wpjb-go-publish:hover {
    background: #35312E;
    color: #fff;
}
/* line 374, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-page-index .wpjb-tooltip,
.wpjr-page-resumes .wpjb-tooltip,
.wpjr-page-resume .wpjb-tooltip,
.wpjb-page-single .wpjb-tooltip {
    cursor: default;
}
/* line 377, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-page-index .wpjb-tooltip:hover span,
.wpjr-page-resumes .wpjb-tooltip:hover span,
.wpjr-page-resume .wpjb-tooltip:hover span,
.wpjb-page-single .wpjb-tooltip:hover span {
    visibility: hidden;
}
/* line 383, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-page-single .wpjb-tooltip,
.wpjb-page-index .wpjb-tooltip {
    padding: 0;
    margin: 0;
    margin-left: -25px;
}
/* job details single */
/* line 390, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-page-single {
    padding-bottom: 1em !important;
}
/* line 392, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-page-single .entry-header {
    padding-top: 2em;
}
.wpjb-related-jobs {
    clear:both;
    overflow:hidden;
}
/* line 397, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-related-jobs:before {
    content: '';
    height: 1px;
    position: absolute;
    display: block;
    background: #eff0f2;
	left: 5%;
	width: 90%;
    right: 0;
}
/* line 400, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-related-jobs ul {
    list-style-type: none;
    margin: 0 !important;
    padding: 0 !important;
}
/* line 405, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-related-jobs li {
    padding: 0.5em 0;
    border-bottom: 0px solid #eff0f2;
}
/* line 408, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-related-jobs li:first-child {
    border-top: 0px solid #eff0f2;
}
/* line 412, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-related-jobs .wpjb-new-related {
    padding: 2px 8px;
    margin-right: 2em;
    font-size: 0.78571em;
    line-height: 2.18182em;
}
/* line 417, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-related-jobs .wpjb-related-posted {
    font-size: 0.92857em;
    line-height: 1.84615em;
    color: darkgrey;
    font-style: italic;
    margin-left: 1em;
}
/* line 424, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-info {
    width: 106.6%;
    /* dont' ask, it's crazy but works */
    position: relative;
    margin-bottom: 2em;
    color: #686868;
    font-size: 0.92857em;
    line-height: 1.84615em;
    margin-left: -3.4%;
    border-collapse: separate;
}
/* line 432, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-info img {
    vertical-align: middle;
}
/* line 435, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-info td {
    padding: 15px 3.4%;
    position: relative;
}
/* line 438, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-info td:first-child {
    width: 30%;
}
/* line 442, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-info tr {
    border-bottom: 1px solid #e7e8eb;
    display: table;
    width: 100%;
    padding: 1px 0;
}
/* line 447, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-info tr:nth-child(2) {
    border-width: 1px 0;
}
/* line 450, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-info tr:nth-child(2n+3) {
    background: #f5f6f6;
}
/* line 457, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
/* .wpjr-page-resume tr:first-child {
    border-top: 1px solid #e7e8eb;
}
*/
/* line 460, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjr-page-resume tr:nth-child(2n + 3) {
    background: transparent;
}
/* line 463, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjr-page-resume tr:nth-child(2n + 2) {
    background: #f5f6f6;
}
/* line 468, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjr-page-resume strong,
.wpjr-page-resume h3 {
    font-weight: 600;
}
/* line 471, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjr-page-resume .wpjb-inline-img {
    padding-right: 1em;
}
/* apply for job */
/* line 476, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-job-apply {
    margin-top: 20px;
    padding-top: 50px;
    padding-bottom: 30px;
}
/* line 480, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-job-apply:before {
    content: '';
    height: 1px;
    position: absolute;
    display: block;
    background: #eff0f2;
	left: 5%;
	right: 0;
	margin-top: -35px;
	width: 90%;
}
/* line 485, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-form-job-apply {
    padding-left: 30px;
    padding-right: 30px;
}
/* line 491, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-arrow-down {
    padding: 0 0.2em;
}
/* line 496, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-form-slider {
    margin-top: 2em;
    padding: 1em 2em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    background: #e5e6ea;
    width: 90%;
}
@media screen and (max-width: 750px) {
    /* line 496, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
    .wpjb-form-slider {
        width: 100%;
        padding: 0;
    }
}
/* line 507, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-form-slider form input[type=text] {
    width: 100%;
}
/* line 510, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-form-slider form fieldset:after {
    display: none !important;
}
/* line 514, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-form-slider form .wpjb-element-input-textarea .wpjb-label {
    font-size: 0.92857em;
    line-height: 1.84615em;
}
/* line 517, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-form-slider form .wpjb-element-input-textarea .wpjb-field {
    margin-top: 1em;
}
/* line 519, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-form-slider form .wpjb-element-input-textarea .wpjb-field textarea {
    height: 200px;
}
@media screen and (max-width: 940px) {
    /* line 506, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
    .wpjb-form-slider form {
        width: 95%;
    }
    /* line 526, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
    .wpjb-form-slider form .wpjb-label {
        width: 40%;
    }
    /* line 529, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
    .wpjb-form-slider form .wpjb-field {
        width: 60%;
    }
    /* line 533, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
    .wpjb-form-slider form .wpjb-element-input-textarea .wpjb-field {
        width: 100%;
    }
    /* line 538, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
    .wpjb-form-slider form .wpjb-element-name-file .wpjb-label {
        width: 30%;
    }
    /* line 541, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
    .wpjb-form-slider form .wpjb-element-name-file .wpjb-field {
        width: 70%;
    }
}
@media screen and (max-width: 750px) {
    /* line 548, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
    .wpjb-form-slider form .wpjb-label,
    .wpjb-form-slider form .wpjb-field {
        width: 100%;
        float: none;
    }
}
/* upload file */
/* line 557, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-upload-item {
    line-height: 32px;
    padding: 1em 0;
}
/* line 560, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-upload-item .wpjb-file-type {
    float: left;
}
/* line 563, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-upload-item .wpjb-item-actions {
    width: auto;
    float: left;
    margin-left: 1em;
}
/* line 568, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-upload-item .wpjb-item-actions .wpjb-item-preview,
.wpjb-upload-item .wpjb-item-actions .wpjb-item-delete {
    display: block;
    height: 32px;
    width: 22px;
    float: left;
    padding: 0 1em;
    border-left: 1px solid #e5e6ea;
}
/* line 575, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-upload-item .wpjb-item-actions .wpjb-item-preview img,
.wpjb-upload-item .wpjb-item-actions .wpjb-item-delete img {
    display: none;
}
/* line 579, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-upload-item .wpjb-item-actions .wpjb-item-preview {
    background: url("../stylesheets/img/eye-view.png") no-repeat center center;
}
/* line 582, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-upload-item .wpjb-item-actions .wpjb-item-delete {
    background: url("../stylesheets/img/trash.png") no-repeat center center;
    border-right: 1px solid #e5e6ea;
    margin-right: 1em;
}
/* line 588, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-upload-item .wpjb-file-info {
    margin-left: 1em;
}
/* line 593, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
img#wpjb-logo {
float: right;
max-width: 300px;
margin: 0 20px 20px 0px;
}
@media screen and (max-width: 750px) {
    /* line 593, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
    img#wpjb-logo {
        display: block;
        float: none;
        margin: 0 auto;
    }
}
@media screen and (max-width: 300px) {
    /* line 593, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
    img#wpjb-logo {
        max-width: 100%;
    }
}
/* line 605, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-job-text #wpjb-log {
    max-width: 100%;
}
/* job listing index table */
/* line 611, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-filters {
    font-size: 0.92857em;
    line-height: 1.84615em;
    width: 210px;
    margin-bottom: 10px;
}
/* line 617, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-filters a {
    color: #fff;
    display: block;
}
/* line 622, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-filters .wpjb-filter-list,
.wpjb-filters .wpjb-sub-filters {
    list-style-type: none;
    margin: 0 !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 !important;
}
/* line 627, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-filters .wpjb-filter-list li a,
.wpjb-filters .wpjb-sub-filters li a {
    padding-left: 2em;
    font-weight: 600;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* line 633, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-filters .wpjb-sub-filters {
    display: none;
    background: #C40001;
    top: -18px;
    position: relative;
    z-index: 14;
    padding-top: 2em !important;
    padding-bottom: 1em !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
/* line 642, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-filters .wpjb-sub-filters li {
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.3);
}
/* line 647, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-filters .wpjb-sub-filters li a {
    line-height: 36px;
    border-width: 1px 0;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
}
/* line 652, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-filters .wpjb-sub-filters li a:hover {
    background: rgba(0, 0, 0, 0.05);
    border-width: 1px 0;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.07);
}
/* line 660, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-filters .wpjb-top-filter {
    line-height: 34px;
    width: 100px;
}
/* line 663, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-filters .wpjb-top-filter > a {
    width: 110px;
    background: #C40001;
    position: relative;
    -webkit-box-shadow: 4px 3px 0 #e0ede9;
    -moz-box-shadow: 4px 3px 0 #e0ede9;
    box-shadow: 4px 3px 0 #e0ede9;
    z-index: 18;
    text-transform: uppercase;
}
/* line 670, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
/*
 .wpjb-filters .wpjb-top-filter > a:after {
    content: '';
    display: block;
    position: absolute;
    right: -17px;
    top: 0;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 17px solid #C40001;
    z-index: 18;
}
.wpjb-filters .wpjb-top-filter > a:before {
    content: '';
    display: block;
    position: absolute;
    right: -20px;
    top: 3px;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 17px solid #e0ede9;
    z-index: 11;
}
*/
/* line 700, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
@media (min-device-width: 1024px) {
    .wpjb-filters .wpjb-top-filter:hover .wpjb-sub-filters {
        display: block;
    }
}
/* line 703, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-filters .wpjb-top-filter:hover > a {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
/* line 706, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-filters .wpjb-top-filter:hover > a:before {
    display: none;
}
/* line 709, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-filters .wpjb-top-filter:hover {
    width: 200px;
}
/* line 713, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-over-job-table {
    text-align: right;
    overflow: hidden;
    font-size: 0.92857em;
    line-height: 1.84615em;
    color: #a9a9a9;
}
/* line 719, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-over-job-table .wpjb-breadcrumb,
.wpjb-over-job-table .wpjb-subscribe {
    line-height: 25px;
    display: inline-block;
}
/* line 722, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-over-job-table .wpjb-breadcrumb img,
.wpjb-over-job-table .wpjb-subscribe img {
    vertical-align: center;
    padding: 0 0 0 1em;
}
/* line 726, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-over-job-table .wpjb-breadcrumb p,
.wpjb-over-job-table .wpjb-subscribe p {
    padding: 0;
    margin: 0;
    line-height: 25px;
}
/* line 732, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-over-job-table .wpjb-subscribe {
    margin-left: 1em;
    float: right;
}
/* line 737, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.index-where-am-i {
    width: 97%;
    padding: 50px 0;
    min-height: 0;
}
/* line 741, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.index-where-am-i #search {
    overflow: hidden;
}
/* line 744, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.index-where-am-i .wpjb-search-query {
    width: 60%;
    float: left;
}
/* line 747, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.index-where-am-i .wpjb-search-query input[type=text] {
    height: 45px;
    line-height: 45px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 45px;
    font-size: 0.85714em;
    line-height: 2em;
}
/* line 754, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.index-where-am-i .wpjb-search-query .btn {
    text-indent: -9999px;
    background-image: url("../stylesheets/img/magnifying-glass-icon.png");
    background-position: center center;
    background-repeat: no-repeat;
    width: 33px;
    height: 33px;
    margin-top: 1px;
}
/* line 764, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.index-where-am-i .wpjb-search-category {
    float: right;
    width: 35%;
}
/* line 767, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.index-where-am-i .wpjb-search-category input {
    width: 100%;
}
/* line 770, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.index-where-am-i .wpjb-search-category span.customSelect {
    width: 100%;
}
/* line 773, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.index-where-am-i .wpjb-search-category span.customSelectInner {
    width: 100% !important;
    background-position: right 5px;
}
@media screen and (max-width: 750px) {
    /* line 780, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
    .index-where-am-i .wpjb-search-query,
    .index-where-am-i .wpjb-search-category {
        float: none;
        width: 100%;
    }
    /* line 784, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
    .index-where-am-i .wpjb-search-category {
        margin-top: 1em;
    }
}
/* line 789, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-job-list {
    width: 106.6%;
    position: relative;
    left:;
    font-size: 1em;
    line-height: 1.71429em;
    border-collapse: separate;
    border-spacing: 0 10px;
}
/* line 797, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-job-list td {
    padding: 9px 0;
}
/* line 799, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-job-list td:first-child {
    padding-left: 10px;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -ms-border-radius: 5px 0 0 5px;
    -o-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
}
/* line 803, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-job-list td:last-child {
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -ms-border-radius: 0 5px 5px 0;
    -o-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    padding-right: 10px;
}
/* line 808, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-job-list tr {
    border-bottom: 1px solid #eff0f2;
    display: table;
    width: 100%;
    padding: 0 2%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* line 814, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-job-list tr.wpjb-featured  {
    background: #FFF;
    border-bottom: 1px solid rgb(228, 228, 228);
    margin:20px 0px;
}
/* line 817, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-job-list tr:first-child {
    border-top: none;
}
/* line 821, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-job-list .wpjb-sub {
    display: block;
    font-size: 0.85714em;
    line-height: 2em;
}
a.wpjb-subscribe {
    margin-top:20px;
}
/* line 827, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-job-list .wpjb-column-title,
#wpjb-job-list .wpjb-column-location,
#wpjb-job-list .wpjb-column-date {
    font-weight: 600;
}
/* line 830, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-job-list .wpjb-column-logo {
    width: 100px;
    max-width: 100px;
    text-align: left;
}
/* line 834, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-job-list .wpjb-column-logo #wpjb-logo {
    max-width: 64px;
    max-height: 64px;
    width: 100%;
    float: none;
}
@media screen and (max-width: 750px) {
    /* line 830, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
    #wpjb-job-list .wpjb-column-logo {
        display: none;
    }
}
/* line 843, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-job-list .wpjb-column-logo .wpjb-logo-placeholder {
    width: 64px;
    height: 64px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    background: pink;
}
/* line 850, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-job-list .wpjb-column-title {
    padding-right: 20px;
}
/* line 852, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-job-list .wpjb-column-title a {
    color: #000;
    display: block;
    margin-right: 15px;
}
/* line 856, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-job-list .wpjb-column-title a:hover {
    color: #686868;
}
/* line 860, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-job-list .wpjb-column-title .wpjb-sub {
    color: #9b9b9b;
}
/* line 864, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-job-list .wpjb-sub {
    font-weight: normal;
}
/* line 867, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-job-list .wpjb-column-location {
    width: 40%;
}
/* line 870, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-job-list .wpjb-column-date {
    width: 10%;
    text-align: right;
}
/* line 873, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-job-list .wpjb-column-date .btn {
    padding: 0 13px;
    display: inline-block;
    font-size: 0.71429em;
    line-height: 2.4em;
    text-align: center;
}
/* line 880, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-job-list .wpjb-filled td.wpjb-column-title a {
    text-decoration: line-through;
}
/* just an overlay (subscription) */
/* line 887, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-overlay {
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background: rgba(0, 0, 0, 0.2);
}
/* line 904, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-overlay > div {
    font-size: 0.92857em;
    line-height: 1.84615em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 1px 1px 1px #fff;
    color: #4e4e4e;
    width: 600px;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: #e7eaea;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 2px 2px 0 #9c9d9d;
    -moz-box-shadow: 2px 2px 0 #9c9d9d;
    box-shadow: 2px 2px 0 #9c9d9d;
}
/* line 916, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-overlay > div .btn {
    text-shadow: none;
}
@media screen and (max-width: 750px) {
    /* line 904, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
    #wpjb-overlay > div {
        width: 85%;
    }
}
/* line 923, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-overlay > div .wpjb-subscribe-head,
#wpjb-overlay > div .wpjb-subscribe-content {
    padding: 2em 7.5%;
}
/* line 926, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-overlay > div .wpjb-subscribe-head {
    background: #eff0f2;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}
/* line 930, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-overlay > div .wpjb-subscribe-content {
    background: #e7eaea;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
/* line 933, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-overlay > div .wpjb-subscribe-content strong {
    margin: 0 0 1em 0;
    display: inline-block;
    line-height: 30px;
}
/* line 937, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-overlay > div .wpjb-subscribe-content strong img {
    vertical-align: center;
    padding-right: 1em;
}
/* line 943, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-overlay > div .wpjb-subscribe-email {
    border-bottom: 1px solid #d2d5d5;
}
/* line 946, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-overlay > div h2 {
    font-size: 2em;
    line-height: 1.41176em;
    padding: 0;
    margin: 0 0 0.3em 0;
}
/* line 951, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-overlay > div p {
    padding: 0;
    margin: 0;
}
/* line 954, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-overlay > div p input[type=text] {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* line 959, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-overlay > div .wpjb-subscribe-close {
    float: right;
}
/* line 962, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-overlay > div .wpjb-btn-with-input {
    width: 100%;
    margin-top: 1em;
    position: relative;
}
/* line 966, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-overlay > div .wpjb-btn-with-input input {
    width: 100%;
    padding-right: 108px;
}
/* line 970, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-overlay > div .wpjb-btn-with-input .btn {
    position: absolute;
    width: 100px;
    line-height: 32px;
    text-align: center;
    padding: 0;
    top: 5px;
    bottom: 5px;
    right: 5px;
}
/* line 981, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-overlay > div .wpjb-mail-frequency {
    background: #dcdee0;
    padding: 10px 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    margin-left: 1em;
}
/* line 989, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-overlay > div img {
    border-radius: 0px;
    box-shadow: 0 0px 0px black;
    vertical-align: middle;
}
/* line 995, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-subscribe-result {
    display: none;
    margin: 4px 0 4px 0;
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    text-shadow: none;
    text-align: center;
    font-weight: 700;
}
/* line 1005, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-subscribe-result.wpjb-subscribe-fail {
    background-color: lightpink;
}
/* line 1009, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-subscribe-result.wpjb-subscribe-success {
    border: 1px solid #e8f9c1;
    color: #fff;
    background-color: #b7e05b;
}
/* search advanced search.php */
/* line 1017, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-main.wpjb-page-search fieldset,
#wpjb-main.wpjb-page-company-login fieldset {
    padding-top: 0;
    margin-top: 0;
}
/* menu bar (e.g. edit employer button) */
/* line 1023, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-menu-bar {
    line-height: 50px;
}
/* resume detail */
/* line 1028, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-experience {
    padding: 1em 5px;
}
/* line 1031, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-education {
    padding: 1em 5px;
}
/* line 1034, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-detail-description {
    padding-top: 1em;
}
/* RESUMES */
/* login */
/* line 1042, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-main.wpjr-page-login #wpjb_submit,
#wpjb-main.wpjr-page-register #wpjb_submit {
    margin-right: 1em;
}
/* line 1045, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-main.wpjr-page-login .hentry,
#wpjb-main.wpjr-page-register .hentry {
    margin: 0;
    padding: 0;
}
/* line 1049, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-main.wpjr-page-login fieldset,
#wpjb-main.wpjr-page-register fieldset {
    margin-top: 0;
    padding-top: 0;
}
/* line 1054, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-button[name=wpjb_savenclose] {
    margin-right: 2em;
}
/* line 1060, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-main.wpjr-page-my-resume .wpjb-label,
#wpjb-main.wpjr-page-my-resume .wpjb-field,
#wpjb-main.wpjr-page-resume .wpjb-label,
#wpjb-main.wpjr-page-resume .wpjb-field {
    line-height: 40px;
}
/* line 1063, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-main.wpjr-page-my-resume .wpjb-element-name-image img,
#wpjb-main.wpjr-page-resume .wpjb-element-name-image img {
    max-height: 100px;
}
/* line 1066, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-main.wpjr-page-my-resume fieldset,
#wpjb-main.wpjr-page-resume fieldset {
    margin: 0;
}
/* line 1068, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-main.wpjr-page-my-resume fieldset > div,
#wpjb-main.wpjr-page-resume fieldset > div {
    border-bottom: 1px solid #eff0f2;
}
/* line 1070, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-main.wpjr-page-my-resume fieldset > div:last-child,
#wpjb-main.wpjr-page-resume fieldset > div:last-child {
    border-bottom: none;
}
/* line 1074, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-main.wpjr-page-my-resume fieldset:first-of-type > div,
#wpjb-main.wpjr-page-resume fieldset:first-of-type > div {
    border-bottom: none;
}
/* line 1079, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-main.wpjr-page-my-resume legend,
#wpjb-main.wpjr-page-my-resume .wpjb-job-content h3,
#wpjb-main.wpjr-page-resume legend,
#wpjb-main.wpjr-page-resume .wpjb-job-content h3 {
    background: #e5e6ea;
    display: block;
    width: 100%;
    position: relative;
    left:0;
    padding: 1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* line 1087, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-main.wpjr-page-my-resume legend a,
#wpjb-main.wpjr-page-my-resume .wpjb-job-content h3 a,
#wpjb-main.wpjr-page-resume legend a,
#wpjb-main.wpjr-page-resume .wpjb-job-content h3 a {
    text-shadow: 1px 1px 1px #fff;
}
/* line 1091, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-main.wpjr-page-my-resume .wpjb-element-input-textarea .wpjb-label,
#wpjb-main.wpjr-page-resume .wpjb-element-input-textarea .wpjb-label {
    font-size: 1.21429em;
    line-height: 1.41176em;
    font-weight: 600;
}
/* line 1097, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjr-page-resume .wpjb-resume-headline {
    height: 100px;
    display: table;
    width: 100%;
    padding-bottom: 1em;
    position: relative;
}
/* line 1103, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjr-page-resume .wpjb-resume-headline:after {
    content: '';
    height: 1px;
    display: block;
    position: absolute;
    left: -3.4%;
    right: -3.4%;
    bottom: 0;
    background: #eff0f2;
}
/* line 1115, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjr-page-resume .wpjb-resume-headline strong,
.wpjr-page-resume .wpjb-resume-headline .wpjb-resume-name {
    padding: 0;
    margin: 0;
}
/* line 1119, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjr-page-resume .wpjb-resume-headline strong {
    font-size: 0.92857em;
    line-height: 1.84615em;
    color: darkgrey;
    font-weight: normal;
}
/* line 1124, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjr-page-resume .wpjb-resume-headline .wpjb-summary {
    clear: both;
}
/* line 1127, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjr-page-resume .wpjb-resume-headline img {
    line-height: 100px;
    vertical-align: middle;
}
/* line 1132, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjr-page-resume .wpjb-resume-headline .wpjb-resume-main-info,
.wpjr-page-resume .wpjb-resume-headline .wpjb-resume-photo-wrap {
    display: table-cell;
    vertical-align: middle;
    height: 100px;
}
/* line 1137, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjr-page-resume .wpjb-resume-headline .wpjb-resume-photo-wrap {
    width: 100px;
    text-align: center;
    padding-right: 1em;
}
/* line 1142, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjr-page-resume .wpjb-resume-headline .wpjb-resume-main-info {
    width: auto;
}
/* line 1146, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjr-page-resume .wpjb-summary {
    font-size: 0.92857em;
    line-height: 1.84615em;
}
/* line 1148, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjr-page-resume .wpjb-summary:after {
    content: '';
    height: 1px;
    position: absolute;
    display: block;
    background: #eff0f2;
    left: 0;
    right: 0;
}
/* line 1152, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjr-page-resume .wpjb-contact-candidate {
    padding-bottom: 1.5em;
}
/* line 1154, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjr-page-resume .wpjb-contact-candidate h3 {
    background: none !important;
    border-top: 20px solid #eff0f2;
    font-size: 19px !important;
    font-weight: 600;
    padding-bottom: 0 !important;
    margin-bottom: 0;
}
/* line 1162, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjr-page-resume .wpjb-contact-candidate .wpjb-element-input-textarea label {
    font-size: 14px !important;
}
/* line 1167, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-slide-icon:after {
    content: url("../stylesheets/img/down-arrow-button.png");
    margin-left: .5em;
}
/* line 1171, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-resume-photo {
    max-height: 100px;
    max-width: 100px;
    vertical-align: middle;
}
/* line 1176, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-element-name-is_current .wpjb-field {
    width: 100%;
    text-align: center;
}
/* line 1183, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-experience .date-range,
.wpjb-education .date-range {
    float: right;
}
/* line 1186, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-experience em,
.wpjb-education em {
    font-style: normal;
    font-size: 0.85714em;
    line-height: 2em;
}
/* line 1190, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-experience .wpjb-detail-description,
.wpjb-education .wpjb-detail-description {
    margin-top: 2em;
}
/* line 1196, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-column-left,
.wpjb-column-right {
    width: 50%;
    float: left;
}
/* line 1200, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-column-right {
    text-align: right;
}
/* BROWSE RESUMES table */
/* line 1205, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-resume-list {
    width: 100%;
}
/* line 1207, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-resume-list .wpjr-resume-item {
    width: 49%;
    float: left;
    margin: 1em 0;
}
/* line 1211, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-resume-list .wpjr-resume-item:nth-child(2n) {
    margin-left: 2%;
}
/* line 1214, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-resume-list .wpjr-resume-item td {
    display: block;
    width: 100% !important;
    padding: 2em 0 0 0;
    background: #e5e6ea;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@media screen and (max-width: 750px) {
    /* line 1207, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
    #wpjb-resume-list .wpjr-resume-item {
        float: none;
        width: 100%;
    }
    /* line 1225, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
    #wpjb-resume-list .wpjr-resume-item td {
        margin: 1em 0;
    }
}
/* line 1230, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-resume-list .wpjb-resume-photo-wrap {
    width: 50px;
    height: 50px;
}
/* line 1233, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-resume-list .wpjb-resume-photo-wrap img {
    max-height: 50px;
    max-width: 50px;
    display: block;
    vertical-align: middle;
    margin: 0 auto;
}
/* line 1241, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-resume-list .wpjr-resume-item-content {
    position: relative;
    width: 100%;
    min-height: 80px;
}
/* line 1245, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-resume-list .wpjr-resume-item-content .wpjb-resume-photo-wrap {
    float: left;
    padding: 0 4em 0 1em;
}
/* line 1249, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-resume-list .wpjr-resume-item-content .wpjr-resume-item-date {
    position: absolute;
    font-size: 0.85714em;
    line-height: 2em;
    top: 0;
    color: #696969;
    line-height: 17px;
    right: 1em;
    background: #e5e6ea;
    padding-left: 0.5em;
    padding-bottom: 0.5em;
}
/* line 1262, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-resume-list .wpjr-resume-item-title a,
#wpjb-resume-list .wpjr-resume-item-headline {
    display: block;
    width: 70%;
    padding-left: 1em;
}
/* line 1267, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-resume-list .wpjr-resume-item-title a {
    font-size: 1.14286em;
    line-height: 1.5em;
    color: #4e4e4e;
    font-weight: 600;
}
/* line 1272, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-resume-list .wpjr-resume-item-headline {
    color: #696969;
    font-size: 0.92857em;
    line-height: 1.84615em;
}
/* line 1276, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-resume-list .wpjr-resume-item-meta {
    width: 100%;
    background: #ecedf0;
    border-top: 1px solid #dbdcdf;
    clear: both;
    text-align: center;
    display: table;
    font-size: 0.85714em;
    line-height: 2em;
}
/* line 1284, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-resume-list .wpjr-resume-item-meta > div {
    width: 50%;
    display: table-cell;
    vertical-align: middle;
    padding: 1em 0;
}
/* line 1290, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-resume-list .wpjr-resume-item-meta .wpjr-resume-item-category {
    border-left: 1px solid #dbdcdf;
}
/* line 1292, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-resume-list .wpjr-resume-item-meta .wpjr-resume-item-category img {
    vertical-align: middle;
    margin-right: 0.1em;
}
/* line 1296, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-resume-list .wpjr-resume-item-meta .wpjr-resume-item-category a {
    color: #696969;
}
/* line 1300, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-resume-list .wpjr-resume-item-meta:after {
    content: '';
    display: table;
    clear: both;
}
/* job applications but probably will affect more */
/* line 1309, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-table {
    width: 100%;
}
/* line 1311, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-table tr {
    border-bottom: 1px solid #eff0f2;
}
/* line 1314, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-table td {
    padding: 1em 0;
}
/* line 1318, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-dropdown {
    list-style-type: none;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    background: #C40001;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    width: 150px;
    z-index: 79;
}
/* line 1329, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-dropdown a {
    color: #fff;
    display: block;
    text-align: left;
    padding: 0.5em 1em;
}
/* line 1335, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-dropdown li {
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.3);
}
/* line 1339, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-dropdown li hr {
    border-color: rgba(255, 255, 255, 0.5) !important;
    background: transparent;
}
/* line 1344, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-dropdown li a {
    font-weight: 600;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 36px;
    border-width: 1px 0;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
}
/* line 1351, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-dropdown li a:hover {
    background: rgba(0, 0, 0, 0.05);
    border-width: 1px 0;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.07);
}
/* company jobs company panel company-panel.php */
/* line 1363, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-main.wpjb-page-company-panel tr .wpjb-last {
    width: 5%;
    padding-right: 0;
    text-align: center;
}
/* line 1368, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-main.wpjb-page-company-panel tr .wpjb-column-expires {
    width: 15%;
}
/* line 1371, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-main.wpjb-page-company-panel tr .wpjb-statistics {
    text-align: left;
    width: 30%;
}
/* line 1375, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-main.wpjb-page-job-applications tr th,
#wpjb-main.wpjb-page-company-products tr th,
#wpjb-main.wpjr-page-my-applications tr th,
#wpjb-main.wpjb-page-company-panel tr th {
    text-align: left;
}
/* line 1379, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
#wpjb-main.wpjb-page-company-panel .wpjb-title {
    text-align: left;
}
/* line 1384, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-expanded-map-row {
    width: 100%;
    overflow: hidden;
}
/* line 1387, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-expanded-map-row td {
    width: 100%;
    padding: 0;
    margin: 0;
    width: 100% !important;
}
/* line 1392, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-expanded-map-row td iframe {
    position: relative;
    width: 106.6%;
    height: 250px;
    display: none;
}
/* line 1404, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-page-single .wpjb-info tr,
.wpjr-page-resume .wpjb-info tr {
    background: none;
}
/* company list profile */
/* line 1410, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-company-list {
    list-style-type: none;
}
/* line 1412, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-company-list li {
    margin: 1em 0;
    font-style: italic;
    font-size: 13px;
    color: #686868;
}
/* line 1417, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-company-list li a {
    font-style: normal;
    font-size: 16px;
}
/* line 1423, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/jobboard.scss */
.wpjb-company-list .wpjb-new-btn {
    padding: 2px 8px;
    margin-right: 1em;
    font-size: 11px;
    font-style: normal;
}
.wpjb-ls-load-more > td > a {
    display:block;
    text-align: center;
}
#wpjb-job-list .wpjb-ls-load-more:hover {
    background:#f8f9f9;
}
#wpjb-job-list .wpjb-ls-load-more:hover td {
    background:#f8f9f9;
}
input[type=text].daq-multiselect-input {
    cursor:pointer;
    margin-bottom: 0px;
    z-index: 100;
    background-image: url("../wpjobboard/images/cog.png");
    background-repeat: no-repeat;
    background-position: 98% 50%;
}
input[type=text].daq-multiselect-input.daq-multiselect-open {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
    
.wpjb-form div .daq-multiselect-options {
    min-height: 50px;
    max-height: 200px;
    min-width: 200px;
    overflow-y: scroll;
    border: 1px solid silver;
    border-top: 0px solid transparent;
    border-right: 0px solid transparent;
    display: none;
    width:100%;
    z-index:1000;
    position: absolute;
    background-color: white;
    -moz-box-shadow:    0 4px 3px -3px  whitesmoke;
    -webkit-box-shadow: 0 4px 3px -3px  whitesmoke;
    box-shadow:         0 4px 3px -3px whitesmoke;
}
    
.daq-multiselect-options > label {
    display: block;
    padding: 1px 10px 1px 10px;
}
.daq-multiselect-options > label:hover {
    background-color: whitesmoke;
}
.wpjb-field .daq-multiselect-options > label > input {
    display: inline;
    width: auto;
}
span.customSelect.daq-multiselect {
    display: none !important;
}
.plupload.html5 > input[type=file] {
    width: auto;
}
.wpjb-resume-detail {
    clear: both;
    overflow: hidden;
    margin: 0px 0px 15px 0px;
}
.entry-content > .wpjb-flash-error, 
.entry-content > .wpjb-flash-info {
    width: 98%;
}
td > span.wpjb-price {
    width: auto;
    font-size: 1.3em;
    font-weight: bold;
    line-height: 2em;
    display: inline-block;
    padding: 0 0 0.5em 0;
}
img.wpjb-inline-img {
    vertical-align: top;
}
.wpjb-bulb {
    background: #C40001;
    font-weight: 700;
    color: #fff;
    margin: 0;
    padding: 5px;
    border: none;
    font-size: 11px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.wpjb-subscribe-email input[type=radio] {
    vertical-align: middle;
}
/* line 638, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/base.scss */
.wpjb-btn-with-input {
    position: relative;
}
/* line 640, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/base.scss */
.wpjb-btn-with-input input[type=text] {
    width: 100%;
}
/* line 643, C:/xampp/htdocs/wpjobboard/wp-content/themes/wpjobboard/sass/base.scss */
.wpjb-btn-with-input .btn {
    position: absolute;
    width: 100px;
    line-height: 32px;
    text-align: center;
    padding: 0;
    top: 5px;
    bottom: 5px;
    display: block;
    height: 32px;
    right: 5px;
}
/* Custom JXT */
#secondary h4,
#secondary .h4 {
	font-size: 20px;
	font-weight: 500;
}
#footer-featured-jobs > ul {
	background-color: #ededed;
	border: 1px solid #c1c1c1;
	padding-top: 21px;
	padding-bottom: 25px;
}
#footer-featured-jobs ul > li{
	list-style: none;
	display: inline-block;
	margin-right: 10%;
}
#footer-featured-jobs .job-company,
#footer-featured-jobs .job-location{
	display: block;
	color: #333333;
	font-size: 16px;
}
#footer-featured-jobs h4{
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	font-size: 20px;
}

.reg-pop-btns, .login-pop-btns {
padding: 20px;
margin: 0 10px auto;
text-align: center;
width: 26%;
display: inline-block;
}

.reg-pop-btns:first-child, .login-pop-btns:first-child {
    margin-left: 0px;
}

.lesson-feature-img {
    width:150px;
    margin:0 20px 20px 0;
}
.post-inner-content {
padding: 20px 20px;
background: #FFF;
border: 1px solid #dadada;
}
.post-inner-content:first-child {
    background:#FFF;
}
h1.entry-title {
    margin-bottom: 10px;
}
.where-am-i h1, .where-am-i h2 { margin:20px 0px;}
.wpjb-form-job-apply.btn:hover { background:#CCC;}
body.home .wpjb-element-input-select.wpjb-element-name-type { display:none !important; }
body.home .wpjb-element-input-select.wpjb-element-name-school { display:none !important; }
body.home .wpjb-element-input-select.wpjb-element-name-salary { display:none !important; }
body.home .wpjb-element-input-select.wpjb-element-name-category { display:none !important; }
h3 { font-size: 1.8em;}
body.home .wpjb-form > fieldset > div, .wpjb-form > fieldset > div > div.wpjb-field .wpjb-form > fieldset > table {
    margin:0px;
    padding:0px;
}
#lesson-search-widget input, #lesson-search-widget span.customSelect {
    width:100%;
}
.comment-reply-title {
    font-size: 24px;
}
.list-section ul li a { font-size: 1.5em; font-family:'Yanone Kaffeesatz', sans-serif; font-weight: 400;}
.list-section ul { list-style: none; padding:0px;}
.list-section ul li { list-style: none;}
.list-section.lesson-plans ul li a { font-size: 1.5em; font-family:'Yanone Kaffeesatz', sans-serif; font-weight: 400; }
.news-list ul li:last-child a { display: inline;}
.news-list li span { font-size: 100%; }
.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus { background: #999; color:#FFF; padding: 8px 32px 7px 32px;}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus { background: #999; color:#FFF; }
.search-btn { background:#262626; margin-top:6px; width:100%; }
body.home span.customSelect { width:100%; }
#internal-job-search .wpjb-element-input-select.wpjb-element-name-type { display:none !important; }
/*body.page.page-id-9 .wpjb-element-input-select.wpjb-element-name-school { display:none !important; }*/
#internal-job-search .wpjb-element-input-select.wpjb-element-name-salary { display:none !important; }
#internal-job-search .wpjb-element-input-text.wpjb-element-name-location { display:none !important; }
#internal-job-search span.customSelect { width:100%; }
#internal-job-search .wpjb-form > fieldset > div { width: 33%; padding: 0px 1%; }
#internal-job-search input#query { width:100%;}
#internal-job-search #wpjb-main .wpjb-fieldset-search { width: 82%; }
.fileinput-button {
  position: relative;
  overflow: hidden;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}
.lesson-plan-feature-img {
    width:200px;
    margin:0 20px 20px 0;
}
.flex-control-nav {
bottom: 20px !important;
line-height: 11px;
z-index: 9999 !important;
}
a.btn-list-section {
    font-size:14px;
}
#wpjb-main table.wpjb-info tbody {
	border-top: none !important;
}
.wpjr-page-resume .wpjb-summary:after,
.wpjr-page-resume .wpjb-resume-headline:after{
	content: normal;
}
#content table.wpjb-info tbody tr td {
	border-top: none !important;
}
.wpjr-page-resume .wpjb-expanded-map-row{
	display: none !important;
}
#wpjb-main table.wpjb-info tbody tr td {
	padding: 20px 10px 20px 0 !important;
}
#wpjb-main table.wpjb-info tbody tr td {
	border-top: none !important;
	border-bottom: none !important;
	font-size: 14px;
}
.wpjr-page-resume .wpjb-contact-candidate h3{
	border-top: none;
}
.wpjr-page-resume tr{
	border-bottom: 1px solid #e7e8eb;
}
.wpjb-job-content h3{
	border-bottom: none !important;
}
tr.wpjb-expanded-map-row {
	border: none;
}
/* Fixes for IE < 8 */
@media screen\9 {
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 940px) {
    #internal-job-search .wpjb-form > fieldset > div {
		width: 100%;
	}
	#internal-job-search .wpjb-element-input-text,
	#internal-job-search .wpjb-element-input-select,
	#internal-job-search .wpjb-form div label.wpjb-label{
		margin: 0;
	}
	#internal-job-search fieldset {
		display: inline-block;
		float: none;
		width: auto;
	}
	#internal-job-search fieldset:nth-child(2n) {
		position: static;
	}
	#internal-job-search #wpjb-main .wpjb-fieldset-search{
		width: 100%;
	}
}



