/*
    Theme Name: Verbo Child
    Theme URI: http://mythem.es/item/verbo-free-wordpress-themes
    Description: Verbo is clean white WordPress theme with minimalist design. Theme comes with nice design concept and responsive layout. This theme is suitable for all type of devices. Responsive design is based on twitter bootstrap framework. Theme is developed by myThem.es. Theme features: responsive design, custom header, custom background, custom layouts ( front page, blog, archive, single and pages ), custom logo, custom favicon and two custom colors and additional css option. Additional widgets: post-meta, newsletter, post-categories, nice tags and multiple social icons.
    Version: 0.0.4
    Tags: blue, green, white, three-columns, two-columns, one-column, right-sidebar, left-sidebar, fluid-layout, responsive-layout, flexible-header, custom-colors, custom-menu, featured-image-header, threaded-comments, custom-background, custom-header, featured-images, theme-options, holiday, seasonal, photoblogging
    Author: myThem.es
    Template: verbo
    Author URI: http://mythem.es
    License: GNU General Public License v2.0
    License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/
@import url("../verbo/style.css");
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
.lesson-feature-img {
    width:150px;
    height:auto;
    margin:0 20px 20px 0;
}
.post-inner-content {
padding: 20px 20px;
background: #FFF;
border-top: 1px solid #dadada;
}
h1 { font-size:30px; }
article h1 { font-size:26px;}
.thumbnail {
max-width: 340px;
height: auto;
}
nav.header-nav { padding: 40px 0px 20px; }
header hgroup {
    padding:25px 0 0;
}
#main > article:first-child {
    margin-top:30px;
}

@-moz-document url-prefix() {
  select {
    padding: 5px;
  }
}

input[type="text"], input[type="number"], input[type="password"], input[type="email"], input[type="phone"], select, textarea {
    border:1px solid #CCC;
}
div.mythemes-social [class^="icon-"]:before, div.mythemes-social [class*="icon-"]:before {
    background:none;
} 
.widget-social-connect a {
    margin:0 5px 0 0;
}
.form-inline .form-group input, .form-inline .form-group select {
    width:250px;
    margin-right: 30px;
}

div#mceu_35-0 {
display: none;
}

div.widget h4.widget-title { border-bottom: none;}

button.btn.btn-dark.search-btn { width:240px;}

p.wysija-paragraph {
margin: 10px 0 0;
}

.shareaholic-share-buttons-container ul.shareaholic-share-buttons { margin:0px !important; }
.search-holder {
    padding:20px;
    background:#C40002;
    border-radius: 10px;
    margin-bottom: 30px;
}
div.comment-respond form.comment-form button.submit-comment { border-bottom: none;}
div.widget_archive h4.widget-title i { display:none;}

.rw-ui-container {
margin: 0px 0px 15px;
}
.search-holder h2 {
    color:#FFF;
    font-weight:500; 
    margin-top:0px;
}
#jxt_lesson_plan_search-2 ul li {
    padding:6px 0;
}
#jxt_lesson_plan_search-2 label { font-weight: normal;}
#jxt_lesson_plan_search-2 input[type=checkbox] { margin-right: 5px; }
button.btn.btn-dark.search-btn {
    background: #35312E;
    opacity: 1;
}
footer {
background: #443E33;
color: #FFF;
}
.content {
    padding-top: 0px;
}
.fileinput-button {
  position: relative;
  overflow: hidden;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}
.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
    margin:0px;
}
.rw-ui-poweredby {
display: none;
}
div.widget h4.widget-title {
    padding-left: 0px;
}
.author-bio.content-box-inner {
    background: #FEFEFE;
    border:1px solid #DEDEDE;
    padding:20px;
    overflow: hidden;
}
.author-bio.content-box-inner .avatar {
float: left;
margin-right: 10px
}
.author-bio.content-box-inner h4.author-name {
margin: 0 0 10px;
}
.thumbnail { margin-right:20px;}
.btn:hover, .btn:focus {
    color:#FFF;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    background:#C61717;
    border-color: #BF1616;
}
footer aside {
    padding:20px 0px 20px 0px;
}
footer aside div.widget h5, footer aside div.widget_text h5, footer aside div.widget a {
    color:#FFF;
}
footer aside div.widget_text div.textwidget, footer aside div.widget_text div.textwidget p {
    color:#FFF;
    font-size: 13px;
    line-height: 1.7em;
}
footer aside div.widget h5, footer aside div.widget_text h5 {
    font-size:1.4em;
    border-bottom: 1px solid #524D47;
    line-height: 2em;
}
footer aside div.widget ul > li:first-child, footer aside div.widget ul > li  {
    border-top:none;
    padding:6px 0px 6px 0px ;
}
footer .mythemes-copyright {
background: #3F392E;
color:#FFF;
padding: 15px 0px;
}
footer .mythemes-copyright p {
color: #DEDEDE;
font-size: 12px;
line-height: 18px;
padding: 0px;
margin: 6px 0px;
}
.shareaholic-canvas {
clear: both;
margin-left: -14px !important;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Open Sans', sans-serif;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
}
.page-header {
    border-bottom: none;
    margin:10px 0px;
}
article h1 {
    margin-top: 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    line-height: 1.1;
}
.thumb-holder1 {
    min-height:auto;
    float:left;
}
.header-right-banner {
    margin-top:30px;
}
nav.mythemes-nav-inline.base-nav.header-nav.nav-collapse {
    padding-top: 20px;
}
.mythemes-page-header {
background-color: #333333;
padding: 0px 0px;
margin-bottom: 40px;
color: #FFF;
}
p.comment-form-url.input {
display: none;
}
div.comment-respond form.comment-form button.submit-comment {background:#C40002;}
#comments pre { display:none;}
.mythemes-page-header nav li { text-shadow: 1px 1px rgba(15, 15, 15, 0.5); color:#DEDEDE; }
.mythemes-page-header nav a { color:#FFF;}
.mythemes-page-header nav li:before { color:#FFF;}
.rw-left, .rw-halign-left {
text-align: left;
margin: 10px 0 !important;
}
@media (max-width: 400px) {
    .mythemes-nav-btn button.btn-base-nav {
    background: none repeat scroll 0 0 #c40002;
    border-bottom: 1px solid #d7d7d7;
    color: #fff;
}
.form-inline .form-group input, .form-inline .form-group select { width:100%;}
.brand {
    display: block;
    margin: 10px 18%;
    text-align: center;
}
.thumb-holder1 {
    float: left;
    width: 100%;
    min-height: auto;
}
}
