body.home.blog.logged-in.admin-bar.custom-background.customize-support.wpjb-element-input-select.wpjb-element-name-type { display:none !important; }
body.home.blog.logged-in.admin-bar.custom-background.customize-support.wpjb-element-input-select.wpjb-element-name-school { display:none !important; }
body.home.blog.logged-in.admin-bar.custom-background.customize-support.wpjb-element-input-select.wpjb-element-name-salary { display:none !important; }