/*
    Theme Name: Verbo
    Theme URI: http://mythem.es/item/verbo-free-wordpress-themes
    Description: Verbo is clean white WordPress theme with minimalist design. Theme comes with nice design concept and responsive layout. This theme is suitable for all type of devices. Responsive design is based on twitter bootstrap framework. Theme is developed by myThem.es. Theme features: responsive design, custom header, custom background, custom layouts ( front page, blog, archive, single and pages ), custom logo, custom favicon and two custom colors and additional css option. Additional widgets: post-meta, newsletter, post-categories, nice tags and multiple social icons.
    Version: 0.0.4
    Tags: blue, green, white, three-columns, two-columns, one-column, right-sidebar, left-sidebar, fluid-layout, responsive-layout, flexible-header, custom-colors, custom-menu, featured-image-header, threaded-comments, custom-background, custom-header, featured-images, theme-options, holiday, seasonal, photoblogging
    Author: myThem.es
    Author URI: http://mythem.es
    License: GNU General Public License v2.0
    License URI: http://www.gnu.org/licenses/gpl-2.0.html


    Verbo WordPress Theme, Copyright 2014 myThem.es
    Verbo is distributed under the terms of the GNU GPL

    For more details look in readme.txt

                     ________________
                    |_____    _______|
     ___ ___ ___   __ __  |  |  __       ____   ___ ___ ___       ____   ____ 
    |   |   |   | |_ |  | |  | |  |___  |  __| |   |   |   |     |  __| |  __|
    |   |   |   |  | |  | |  | |  __  | |  __| |   |   |   |  _  |  __| |__  |
    |___|___|___|   |  |  |__| |_ ||_ | |____| |___|___|___| |_| |____| |____|   
                    |_|


*/
/* EXTERNAL IMPORTS GOOGLE FONTS */
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700|Noto+Sans:400,700,400italic,700italic);

/* LOCAL IMPORTS */
@import url(media/css/bootstrap.min.css);

@import url(media/css/typography.css);
@import url(media/css/icons-theme.css);

@import url(media/css/navigation.css);
@import url(media/css/effects.css);

@import url(media/css/main.css);

@import url(media/css/header.css);
@import url(media/css/nav.css);

@import url(media/css/blog.css);
@import url(media/css/forms.css);

@import url(media/css/elements.css);

@import url(media/css/widgets.css);

@import url(media/css/comments.css);
@import url(media/css/comments-typography.css);

@import url(media/css/footer.css);


/* WORDPRESS */
.alignleft,
.alignright{
    margin-top: 10px;
    margin-bottom: 10px;
}
.alignnone,
.aligncenter{
    margin-top: 25px;
    margin-bottom: 25px;
}
.alignleft{
    float:left;
    margin-right: 15px;
}
.alignright{
    float:right;
    margin-left: 15px;
}
.aligncenter{
    clear:both;
    display: block;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

.sticky,
.gallery-caption,
.bypostauthor{}

.wp-caption,
.wp-caption p,
.wp-caption a{
    font-style: italic;
}
.wp-caption,
.wp-caption p{
    color: #000000;
}
.content-border article .wp-caption p,
.content-border article .wp-caption p.wp-caption-text{
    border-bottom: 1px solid #f0f0f0;
    color: #000000;
    padding: 10px;
    margin: 0px 10px;
}
.content-border article .post-thumbnail footer{
    border-bottom: 1px solid #f0f0f0;
    color: #000000;
    font-style: italic;
    padding: 10px;
}
.wp-caption img{
    display: block;
    margin: 0px auto;
}

code {
    background: #e9e9e9;
    font-size: 12px;
    padding: 2px 8px;
  
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
}
code {
    font-family: Consolas,"Liberation Mono",Courier,monospace;
    font-weight: 400;
    color: #333;
}