/*
Theme Name: Sparkling Child
Theme URI: http://colorlib.com/wp/themes/sparkling
Author: Colorlib
Author URI: http://colorlib.com/
Description: Sparkling is a clean minimal and responsive WordPress theme well suited for travel, health, business, finance, design, art, personal and any other creative websites and blogs. Developed using Bootstrap 3 that makes it mobile and tablets friendly. Theme comes with full-screen slider, social icon integration, author bio, popular posts widget and improved category widget. Sparkling incorporates latest web standards such as HTML5 and CSS3 and is SEO friendly thanks to its clean structure and codebase. It has dozens of Theme Options to change theme layout, colors, fonts, slider settings and much more. Theme is also translation and multilingual ready and is available in Spanish. Sparkling is a free WordPress theme with premium functionality and design.
Version: 1.5.0
Template: sparkling
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: sparkling
Domain Path: /languages/
Tags: green, light, white, gray, black, one-column, two-columns, right-sidebar, fluid-layout, responsive-layout, photoblogging, left-sidebar, translation-ready, custom-background, custom-colors, custom-menu, featured-images, full-width-template, post-formats, theme-options, threaded-comments
This theme, like WordPress, is licensed under the GPL.
sparkling is based on Underscores http://underscores.me/, (C) 2012-2013 Automattic, Inc.
*/
@import url("../sparkling/style.css");
/* Fonts */
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700,300);
.left{
	float: left;
}
.right{
	float: right;
}
body {
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	line-height: 1.428571429;
	color: #333333;
	background-color: #fff;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
	color: #333;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: 500;
	line-height: 1.1;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"]{
	padding: 9px;
}
a:hover, a:focus {
	color: #262626;
	text-decoration: none;
}
#secondary .widget li a:hover {
	background: #C40001;
	color: #fff;
}
#secondary .widget li a {
	display: block;
	padding: 6px 12px;
	color: #4e4e4e;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
#masthead{
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #fafafa 31%, #f0f0f0 61%, #eaeaea 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(31%,#fafafa), color-stop(61%,#f0f0f0), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#fafafa 31%,#f0f0f0 61%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#fafafa 31%,#f0f0f0 61%,#eaeaea 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#fafafa 31%,#f0f0f0 61%,#eaeaea 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#fafafa 31%,#f0f0f0 61%,#eaeaea 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
	max-height: 575px;
	margin-bottom: 1.7em;
}
.entry-content h3{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 16px;
}
.metaslider .flexslider {
	margin: 0 !important;
}
.metaslider .flexslider img {
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-bottom-left-radius: 20px;
	box-shadow: 5px 20px 25px -5px #9E9E9E;
	-webkit-box-shadow: 5px 20px 25px -5px #9E9E9E;
	-moz-box-shadow: 5px 20px 25px -5px #9E9E9E;
	-o-box-shadow: 5px 20px 25px -5px #9E9E9E;
}
.btn-primary {
	color: #fff;
	background-color: #C40001;
	border-color: #A70001;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
	color: #fff;
	background-color: #E60001;
	border-color: #D20001;
}
.btn.btn-default{
	text-transform: none;
	font-family: 'PT Sans', sans-serif;
	font-size: 1.3em;
}
.btn-default, .label-default {
	background-color: #2c2c2c;
	border: none;
}
.navbar.navbar-default {
	background-color: transparent;
}
.nav.navbar-nav {
	clear: both;
	width: 100%;
	background: #333333;
	-webkit-border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-topright: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
#header-slider {
	padding-right: 0;
}
.tip {
	color: #fff;
}
.navbar-nav .header-sign-in, .navbar-nav .header-register {
float: right;
padding: 0px 5px 0px 15px;
}
.navbar-nav .header-register{
	padding-left: 10px;
}
#menu-primary-menu li.header-sign-in:hover,
#menu-primary-menu li.header-register:hover{
	background: transparent;
}
.navbar-nav .header-sign-in i,
.navbar-nav .header-register i{
	color: #fff;
	float: left;
	position: relative;
	top: 19px;
	font-size: 16px;
	left: -3px;
}
.page #masthead {
	max-height: 340px;
}
#job-search {
	padding-left: 0;
}
#job-search .wpjb-form div label.wpjb-label,
#internal-job-search .wpjb-form div label.wpjb-label{
	color: #fff;
	font-family: 'PT Sans', sans-serif;
	font-size: 1em;
}
#internal-job-search fieldset:nth-child(2n){
	position: relative;
	top: 48px;
}
#internal-job-search .wpjb-fieldset-search{
	display: inline-block;
	float: none;
}
#internal-job-search fieldset{
	display: inline-block;
	float: right;
/*	width: 20% !important; */
}
/*
#internal-job-search #wpjb-main .wpjb-fieldset-search{
	width: 75% !important;
}
*/
#internal-job-search .wpjb-element-name-category{
	display: none !important;
}
#job-search .wpjb-form {
	background: #cf0111; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NmMDExMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijg1JSIgc3RvcC1jb2xvcj0iI2NkMDExMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkzJSIgc3RvcC1jb2xvcj0iI2I1MDMxNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhYTAzMGYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #cf0111 0%, #cd0110 85%, #b50315 93%, #aa030f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cf0111), color-stop(85%,#cd0110), color-stop(93%,#b50315), color-stop(100%,#aa030f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #cf0111 0%,#cd0110 85%,#b50315 93%,#aa030f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #cf0111 0%,#cd0110 85%,#b50315 93%,#aa030f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #cf0111 0%,#cd0110 85%,#b50315 93%,#aa030f 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #cf0111 0%,#cd0110 85%,#b50315 93%,#aa030f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cf0111', endColorstr='#aa030f',GradientType=0 ); /* IE6-8 */
	padding: 10px 45px 0 45px;
	min-height: 369px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	border-bottom-right-radius: 20px;
	box-shadow: -3px 15px 25px 0px #9E9E9E;
	-webkit-box-shadow: -3px 15px 25px 0px #9E9E9E;
	-moz-box-shadow: -3px 15px 25px 0px #9E9E9E;
	-o-box-shadow: -3px 15px 25px 0px #9E9E9E;
}
#job-search .wpjb-form input.wpjb-submit,
#internal-job-search .wpjb-form input.wpjb-submit{
	float: right;
	background: url(images/search.jpg) no-repeat 50% #262626;
	padding: 9px 30px 9px 48px;
	background-position-x: 24px;
}

#internal-job-search .wpjb-form input.wpjb-submit {
	margin-top: 0px;
}
#job-search .wpjb-form div input[type=text], 
#job-search .wpjb-form div input[type=password],
#job-search .wpjb-form div.wpjb-field,
#job-search .wpjb-form div select{
	width: 100%;
}
#job-search .wpjb-form div select {
	padding: 4px 0 4px 10px;
	border: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-family: 'PT Sans', sans-serif;
	font-size: 13px;
}
#job-search .wpjb-form div input[type=text],
#job-search .wpjb-form div input[type=password],
#job-search .wpjb-form div select{
	border: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#job-search .wpjb-form div.wpjb-field {
	clear: both;
}
#job-search ::-webkit-input-placeholder {
	font-family: 'PT Sans', sans-serif;
	font-size: 13px;
	color: #252525;
}
#job-search :-moz-placeholder { /* Firefox 18- */
	font-family: 'PT Sans', sans-serif;
	font-size: 13px;
	color: #252525;
}
#job-search ::-moz-placeholder {  /* Firefox 19+ */
	font-family: 'PT Sans', sans-serif;
	font-size: 13px;
	color: #252525;
}
#job-search :-ms-input-placeholder {  
	font-family: 'PT Sans', sans-serif;
	font-size: 13px;
	color: #252525;
}
#internal-job-search .wpjb-form div.wpjb-field{
	width: 100%;
	clear: both;
}
#internal-job-search #wpjb-main{ 
	background: #d90111;
	padding: 0 70px;
	-webkit-border-bottom-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}
#internal-job-search .wpjb-form div label.wpjb-label{
	width: 100%;
}
#internal-job-search .wpjb-form > fieldset > div{
	display: inline-block;
	float: left;
	clear: none;
	width: 30%;
}
.navbar-header{
	width: 100%;
	margin-bottom: 18px;
	margin-top: 20px;
}
.navbar-collapse {
	padding-right: 0;
	padding-left: 0;
}
#logo {
	float: left;
}
#menu-primary-menu li.current_page_item {
	background: #4f4f4f;
}
#menu-primary-menu li:hover {
	background: #8A8A8A;
}
#menu-primary-menu li a{
	color: #fff;
}

#menu-primary-menu li:last-child a, #menu-primary-menu li:nth-last-child(2) a {
	padding-left: 16px;
	padding-right: 16px;
}

#menu-primary-menu li.header-sign-in:hover, #menu-primary-menu li.header-register:hover {
	background:grey;
}

#menu-primary-menu li.header-sign-in:hover {
	border-radius: 0 20px 0 0;
}

.navbar-default .navbar-nav > li > a{
	padding: 8px 32px 7px 32px;
	font-family: 'PT Sans', sans-serif;
	text-transform: none;
	font-size: 16px;
}
.nav.navbar-nav > li:first-child{
	-webkit-border-top-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	border-top-left-radius: 20px;
}
.list-section {
	border: 1px solid #B8B8B8;
	padding: 0 20px;
	min-height: 280px;
	border-radius: 12px;
	background: #fafafa;
	background: -moz-linear-gradient(top, #fafafa 27%, #e4e4e4 87%);
	background: -webkit-linear-gradient(top, #fafafa 27%,#e4e4e4 87%);
	background: linear-gradient(to bottom, #fafafa 27%,#e4e4e4 87%);
	behavior: url(PIE.php);
}
#features .list-section {
	min-height: 0;
	padding: 35px 0 35px 35px;
}
#features {
	margin-bottom: 30px;
	margin-top: 15px;
}

.author-bio-content h4 {
	font-size: 1.8em;
}
.list-section h2 {
	margin: -1px 0 15px 0;
	padding: 0;
	font-size: 30px;
	position: relative;
}
.list-section h2 span {
	position: relative;
	top: 4px;
}
a.btn-list-section {
	position: absolute;
	border-radius: 10px 10px 0 0;
	background: #C40001;
	color: #fff !important;
	padding: 4px 0;
	font-size: 12px;
	width: 120px;
	text-align: center;
	float: right;
	bottom: 0;
	right: 40px;
}
.homepage-title {
	font-size: 25px;
	color: #676767;
	font-family: 'PT Sans', sans-serif;
	position: relative;
	top: -11px;
}
a.blogLink {
	color: #C40001;
	font-weight: bold;
	text-decoration: none;
	font-size: 14px;
}
#features i {
	font-size: 57px;
	margin-right: 8px;
}
#info {
	background: #d90111;
	width: 60px;
	display: inline-block;
	text-align: center;
	border-radius: 45px;
	color: #fff;
	height: 60px;
}
#map {
	color: #d90111;
	font-size: 65px;
}
#stars {
		float: right;
		position: relative;
		top: 2px;
		right: 16px;
		width: 50px;
}
.post-inner-content:first-child {
	background-color: #F7F7F7;
}
#secondary .widget > h3 {
	font-size: 24px;
	text-transform: none;
	color: #333;
}
.entry-content {
	font-family: 'Open Sans', sans-serif !important;
	font-size: 14px;
	font-weight: normal ;
	color: #333333 !important;
}
.entry-title {
	font-size: 38px;
	color: #333;
}
#secondary .widget{
	color: #555;
}
#secondary .widget a{
	color: #C40001;
}
.blogPost {
	overflow: hidden;
	font-size: 13px;
}
#innerBlogContentDiv {
	height: 196px;
	overflow: hidden;
}
#news > ul{
	padding-left: 0;
}
#news small {
	display: block;
	margin-bottom: 5px;
}
#news ul li {
	margin: 0 0 10px 0;
	padding: 0;
	list-style: none;
}
.sign-ups a {
	width: 154px;
	height: 160px;
	float: left;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 20px;
	color: #fff;
	text-align: center;
	padding-top: 6px;
	text-decoration: none;
}
.sign-ups a:first-child {
	background: url(images/email.png) no-repeat 50%;
}
.sign-ups a:nth-child(2n){
	background: url(images/newsletter.png) no-repeat 50%;
}
.sign-ups {
	background: #6C6353;
	border-radius: 12px;
	display: inline-block;
	width: 100%;
	min-height: 163px;
}
.sign-ups a span,
.round-btn{
	display: inline-block;
	background: #C40002;
	width: 125px;
	font-family: verdana;
	font-size: 12px;
	text-align: center;
	padding: 5px;
	border-radius: 20px;
	margin-top: 90px;
}
.round-btn{
	margin-top: 0;
}
a.newsLink {
	text-decoration: none;
	font-weight: bold;
	color: #C40001;
}
.list-section h2 i,
.news-list i{
	background: url(images/bg-ribbon.png) 0 0 no-repeat;
	color: #fff;
	font-size: 24px;
	display: inline-block;
	width: 41px;
	height: 50px;
	padding: 9px 0 0 0;
	text-align: center;
	margin-right: 10px;
}
.news-list ul li:last-child a {
	display: none;
}
.news-list ul{
	padding-left: 0;
	margin-top: 13px;
}
.news-list li{
	list-style: none;
	margin-bottom: 10px;
}
.news-list li span{
	font-size: 85%;
}
.news-list li a{
	clear: both;
	display: block;
	text-decoration: none;
	font-weight: bold;
	color: #C40001;
}
.news-list h2 {
	position: relative;
	top: 4px;
	display: inline-block;
}
.social-icons{
	text-align: left;
}
.social-icons a{
	border-radius: 25px;
}
.social-icons .fa{
	color: #443E33;
}
.social-icons a:hover{
	opacity: 0.8;
}
#footer-area .footer-widget-area {
	padding: 0 0 20px 0;
}
#footer-area #nav_menu-3{
	float: left;
}
#footer-area ul li {
	border: none;
	padding-bottom: 0;
	list-style: none;
	padding: 0 0 0 12px;
	background: url(images/arrow-footer.png) 0 50% no-repeat;
	line-height: 22px;
	margin-bottom: 0;
}
#footer-area ul li a:hover{
	color: #847971;
}
#footer-area .social-icons a:first-child{
	background-color: #4865A7;
}
#footer-area .social-icons a:nth-child(2n){
	background-color: #3CCDEA;
}
#footer-area .social-icons a:nth-child(3n){
	background-color: #DD4C39;
}
#footer-area .social-icons a:nth-child(4n){
	background-color: #388AC4;
}
#footer-area h3.widgettitle{
	font-size: 20px;
	border-bottom: 1px solid #524D47;
	padding-bottom: 15px;
	margin: 30px 0 20px 0;
	text-transform: none;
	color: #fff;
}
#footer-area #nav_menu-2 {
	display: inline-block;
	float: left;
	margin-right: 35px;
}
#footer-area{
	background-color: #443E33;
	color: #fff;
	padding-bottom: 25px;
}
#footer-area #nav_menu-2 h3.widgettitle,
#footer-area #nav_menu-3 h3.widgettitle {
	border: none;
	font-size: 18px;
	margin-bottom: 0;
	margin-top: 0;
}
#footer-area .copyright a{
	color: #847971;
}
.copyright{
	float: left;
	text-align: left;
}
.copyright, .copyright a {
	font-size: 13px;
	color: #847971;
	text-decoration: none;
}
#footer-area .copyright a:hover, #footer-area .copyright a:focus {
	color: #A00002;
	text-decoration: underline;
}
#menu-primary-menu li:last-child a,
#menu-primary-menu li:nth-last-child(2) a{
    cursor: pointer;
}
#menu-primary-menu ul.dropdown-menu {
	background: #8A8A8A;
}

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], textarea {
	border: 1px solid #DEDEDE;
}

@media (max-width: 1199px) {
	#header-slider {
	  padding-right: 15px;
	}
	#masthead{
		max-height: none;
	}
	#job-search{
		padding-left: 15px;
	}
	#job-search .wpjb-form{
		-webkit-border-bottom-left-radius: 20px;
		-moz-border-radius-bottomleft: 20px;
		border-bottom-left-radius: 20px;
	}
	.metaslider .flexslider img {
		-webkit-border-bottom-left-radius: 0;
		-moz-border-radius-bottomleft: 0;
		border-bottom-left-radius: 0;
	}
	.page #masthead {
		max-height: none;
		padding-bottom: 20px;
	}
}
@media (max-width: 767px){
	.nav.navbar-nav{
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		padding-left: 20px;
	}
	.home-page-container [class^="col-"]{
		margin-bottom: 25px;
	}
	#features {
		margin-bottom: 0;
		margin-top: 0;
	}
	.navbar-nav .header-sign-in i, .navbar-nav .header-register i {
		top: 10px;
		left: -3px;
	}
	.nav.navbar-nav > li:first-child {
		-webkit-border-top-left-radius: 0;
		-moz-border-radius-topleft: 0;
		border-top-left-radius: 0;
	}	
}
@media (min-width: 768px) and (max-width: 992px) {
	.container {
		 width: auto;
	}
	.navbar-default .navbar-nav > li > a {
		padding: 8px 20px 7px 20px;
	}
}
